html, body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #e0def4;
}

a {
    color: #0059b2;
    text-decoration: none;
}

a:hover{
    color: #393553;
}

•clear {
    clear: both;
}

ul.mainmenu {
    list-style: none;
    background: #21202e;
    height: 60px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 20px;
    overflow: hidden;
}

ul.mainmenu li {
    float: left;
    margin: 18px 40px 0 50px;
}

ul.mainmenu li.last {
    float: right;
}

ul.mainmenu li a {
    color: #f8b6b8;
    text-decoration: none;
}

ul.mainmenu li a:hover {
    color: #ea9a97;
}

.flash {
    padding: 10px;
}

.flash.success {
    border: 1px solid #9ccfd8c9;
    background: #9ccfd8;
}

.flash.error {
    border: 1px solid#eb6f92b4;
    background: #eb6f92;
}

.form {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
.title {
    font-size: 50px;
    margin-bottom: 50px;
    color: #26233a;
}

.inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
}

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }
  
::placeholder {
    color: transparent;
}

.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

.input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: #00738e;
}

.input:focus {
    border: 2px solid #00738e;
}

.input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
}

.submitBtn {
    display: block;
    /* margin-left: auto; */
    padding: 15px 172px;
    border: none;
    background-color: #00738e;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
  }
  
.submitBtn:hover {
    background-color: #458594;
    transform: translateY(-2px);
}

.profileBtn {
    /* display: block; */
    margin-left: auto;
    padding: 12px 20px;
    border: none;
    background-color: #00738e;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    margin: 5px;
  }
  
.profileBtn:hover {
    background-color: #458594;
}

.profileform {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    margin: 70px 70px;
}

.taskstodo{
    font-size: x-large;
    margin-top: 15px;
    margin-bottom: 15px;
    color:#1f1d2e;
}

.inputData {
    /* position: relative; */
    height: 250px;
    width: 100%;
    margin-bottom: 17px;
}

.updateTask {
    width: 50%;
    height: 75%;
    margin: 50px;
}

.input2 {
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 9px;
    font-size: 22px;
    padding: 0 20px;
    z-index: 1;
    resize: none;
  }


  .container{
    /* border: 5px solid; */
    margin: center;
    width: 45%;
    max-height: 50px;
    padding: 15px 40px;
    font-size: 25px;
    background-color: #908caa;
    color: #1f1d2e;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.element:hover{
    color: #444064;
}

.element {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    float: left;
    margin: 25px;
    margin-right: 0;
    color: #1f1d2e;
  }
  
.cntr{
    width: 50%;
    height: 80px;
    background-color: #908caa;
    font-size: 25px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.buttonClass {
    font-size:15px;
    width:140px;
    height:50px;
    /* border-width:1px; */
    background:#6e6a86;
    float: right;
    margin: 15px;
  }
  
  .buttonClass:hover {
    background: #0688fa
  }

.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 18px;
}

.button-81:hover {
  background-color: #1f1d2e;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}