<!DOCTYPE html>
<link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
<html>
<head>
    <title> {{ title }}</title>
    {%- block mainmenu -%}
    <ul class="mainmenu">
        <li><a href="{{url_for('views.profile', user_id=current_user.id)}}">{{current_user}}</a></li>
        <li><a href="{{url_for('views.home')}}">tasks</a></li>
        <li><a href="{{url_for('views.create_task')}}">new task</a></li>
    </ul>
    {% endblock mainmenu -%}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>