
<!DOCTYPE html>
<link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
<html>
<head>
    <title> {{ title }}</title>
</head>
<body>
    <div class="signupFrm">
        <form method="post" class="form">
            {% for cat, msg in get_flashed_messages(True) %}
          <div class="flash {{ cat }}">{{ msg }}</div>
            {% endfor %}
          <h1 class="title">Sign up</h1>
        
          <div class="inputContainer">
            <input type="text" class="input" placeholder="a" name="username">
            <label for="username" class="label">Username</label>
          </div>
    
          <div class="inputContainer">
            <input type="text" class="input" placeholder="a" name="password1">
            <label for="password1" class="label">Password</label>
          </div>
    
          <div class="inputContainer">
            <input type="text" class="input" placeholder="a" name="password2">
            <label for="password2" class="label">Confirm Password</label>
          </div>
          <input type="submit" class="submitBtn" value="Sign up">
            <p style="color: #26233a;">Have an account?  <a href="{{url_for('auth.login')}}">Log in </a></p>            
        </form>
      </div>
</body>
